
<div class="row">
	<ul class="sg-colors">
		{{#colors}}
		<li>
			<span class="sg-swatch" style="background: {{.}};"></span>
			<span class="sg-label">{{.}}</span>
		</li>
		{{/colors}}
	</ul>
</div>